@page
@model Emmanuel_Client.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Emmanuel Client";
}

<h1>DO SOMETHING</h1>
<h2>Game State: @Model.Status.GameState</h2>